body{
    background: #6666;
    font-family:  Arial;
    font-weight: 2em;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    border-bottom: 1px dotted;
}

.container{
    width: 600px;
    border: solid 1px #cccc;
    margin: auto;
    background: #f4f4f4;
}